* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfc;
    color: #070928;
}

.container {
    margin: 0 auto;
    width: 95%;
    background-color: #fff;
    border: 1px solid #eeeeee;
}

h1, h2, h3 {
    color: #2873ff;
    letter-spacing: 1px;
}

/* nawigacja */
.nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 3px #3456ff solid;
    border-radius: 3px;
    box-shadow: 0 2px 8px #000;
}

.nav .container {
    border: none;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}

.nav-logo {
    padding: 18px 0;
    font-size: 2rem;
    font-weight: 400;
    color: #070928;
    text-decoration: none;
}

.nav-ul {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    list-style-type: none;
}

.nav-ul li {
    padding: 6px 0;
    border-bottom: 3px solid transparent;
}

.nav-ul li:hover {
    border-bottom: 3px solid #2873ff;
    border-radius: 3px;
}

.nav-ul li a {
    font-size: 1.3rem;
    color: #070928;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-ul.show {
    display: flex;
    width: 100%;
}

.nav-btn {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}

.nav-burger {
    width: 40px;
    height: 4px;
    background: #070928;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.nav-burger::before,
.nav-burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #070928;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.nav-burger::before {
    transform: translateY(-14px);
}
.nav-burger::after {
    transform: translateY(14px);
}

/* ANIMATION */
.nav-btn.open .nav-burger {
    background: transparent;
    box-shadow: none;
}
  .nav-btn.open .nav-burger::before {
    transform: rotate(45deg);
}
  .nav-btn.open .nav-burger::after {
    transform: rotate(-45deg);
}

/* landing page */
.main {
    padding-top: 93px;
    height: 1500px;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../image/baner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 70px;
    background-color: rgba(225, 225, 225, 0.8);
}

/* about */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 0 10px;
    /* height: 1000px; */
}

h2 {
    font-size: 2rem;
}

/* footer */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adres-box, .social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-box div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-box, .adres-box, .social-box {
    padding: 10px 0;
    border-bottom: #eeeeee solid 2px;
}

.contact-box i, .adres-box i, .social-box i {
    padding: 10px;
    font-size: 25px;
    color: #2873ff;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 14px;
}


/* media */
@media screen and (orientation: portrait) and (max-width: 960px){
    .landing-page {
        height: 300px;
        background-size: contain;
    }
}

@media screen and (orientation: landscape) and (max-width: 960px) {
    .nav {
        position: static;
    }

    .main {
        padding-top: 16px;
    }

    .landing-page {
        height: 400px;
        background-size: contain;
    }

    .contact {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .social-box {
        width: 100%;
    }

    .contact-box, .adres-box, .social-box {
        height: 100px;
    }
}

@media screen and (min-width: 960px) {
    .container {
        margin: 0 auto;
        width: 960px;
    }

    .nav-ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 30%;
    }

    .nav-btn {
        display: none;
    }

    .nav-ul.show {
        width: 30%;
    }

    h2 {
        font-size: 2.2rem;
    }

    .contact {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contact-box, .adres-box, .social-box {
        width: 280px;
        height: 120px;
    }
}